.chat_area{
  position: relative;
}
.chat_area .top {
  padding-left: 15px;
  background: var(--primary-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 65px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: white;
}
.chat_area .top{
  padding-left: 20px;
  width: 100%;
}
.chat_area .top .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-left: 5px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.chat_area .top .content .avatar {
  display: block;
  width: 35px;
  height: 35px;
  margin-right: 15px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}
.chat_area .top .content img {
  opacity: 0;
}
.user_name {
  line-height: 0.9rem;
  font-weight: 400;
}
.userDetails {
  display: flex;
  margin-bottom: -10px;
  flex-direction: column;
}
.chat_area .main {
  padding: 5px 20px;
}
.chat_area .main #messageForm {
  display: flex;
  align-items: center;
  height: 70px;
}
#messageForm div {
  display: flex;
  height: 100%;
  margin: auto;
  /* background: rgb(238, 238, 238); */
  border-radius: 10rem;
}

.chat_area .main #messageForm textarea,
.chat_area .main #messageForm button {
  border: none;
  background: none;
  outline: none;
}

.chat_area .main #messageForm textarea {
  resize: none;
}

.chat_area .main #messageForm textarea::placeholder {
  color: #8d8d8d;
  font-size: 16px;
}

.chat_area .main #messageForm button {
  width: 35px;
  border-radius: 50%;
  background: #02082b;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 35px;
}

.chat_area .main .self,
.chat_area .main .not_self {
  padding: 13px;
  color: #333;
  font-size: 15px;
  margin-top: 15px;
  max-width: 50%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 10px;
  border-top-left-radius: 0px;
  background: white;
  box-shadow: -1px 2px 5px #e7e7e7, -2px 3px 5px #d7e6da;
}
@media screen and (max-width: 768px) {
  .chat_area .main .self,
  .chat_area .main .not_self {
    margin-top: 5px;
  }
}
.chat_area .main .self {
  margin-left: auto;
  background: var(--primary-color);
  border-top-left-radius: 10px;
  color: white;
  border-top-right-radius: 0px;
  box-shadow: -2px 6px 6px #BFD8C2;
}
.message_text p {
  margin: 0;
  font-size: 14px;
}
@media screen and (max-width:700px){
  #messageForm{
    width: 100%!important;
  }
}