.checkout{
  height: 70vh;
  overflow: scroll;
}
.checkout .top, .product_details .top, .maincheckout .top, .cart .top{
  padding: 1.2rem;
  justify-content: space-between;
  position: relative;
}
.checkout .top > p, .maincheckout .top > p, .cart .top > p{
  position: absolute;
  right: 13px;
    top: 13px;
    font-size: 12px!important;
    font-weight: bold!important;
    background: #562001;
    padding: 6px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    color: white;
}
.checkout .top > div, .maincheckout .top > div, .cart .top > div{
  cursor:pointer;
}
.checkout .top p, .product_details .top p, .maincheckout .top p, .cart .top p{
  font-size: 1.27rem;
  margin: 0;
  font-weight: 500;
}
.MuiRadio-colorSecondary.Mui-checked {
  color: #562001!important;
}
.product_little_image{
  background-size: cover;
  width: 70px;
  height: 70px;
  border-radius: 10px;
  overflow: hidden;
  margin-left: 20px;
  margin-right: 20px;
}
@media screen and (max-width: 600px){
  .product_little_image{
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
.lilbold{
  font-weight: 600;
}
.product_little_action{
  width: 23%;
  justify-content: space-between;
  align-items: center;
}
.product_little_action button{
  width: 35px;
  height: 35px;
  outline: none;
  border: none;
  position: relative;
}
@media screen and (max-width: 600px){
  .product_little_action button{
    width: 25px;
    height: 25px;
  }
}
.product_little_action button:last-child{
  background: rgb(196, 236, 247);
}
.product_little_action .content{
  font-size: 23px;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}
.product_little{
  padding: 0 20px 0 10px;
  justify-content: space-between;
}
.product_little_image img{
  opacity: 0;
}
.product_little_desc p:nth-child(2){
  color: rgb(122, 122, 124);
}


/* ----Product details styles */
.product_main{
  padding-left: 20px;
  padding-right: 20px;
}
.product_image{
  position: relative;
  background: rgba(231, 231, 231, 0.87);
  padding: 15px;
  border-radius: 1rem;
}
.product_image img{
  border-radius: 1rem;
}
.checkout__button {
  background: linear-gradient(to right,#532cdf, #3fa5b5 );
  width: 90%;
  position: absolute!important;
  border-radius: 1rem!important;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 50%);
  transition: all 1.5s;
  z-index: 1;
  border: 2px solid transparent;
}
.checkout__button:hover, .checkout__button:active{
  background: white!important;
  border:  2px solid #562001;
  color:#562001;
  font-weight: bold;
}
.checkout .details{
  position: fixed;
  height: 15vh;
  bottom: 47px;
  background: transparent;
  border-radius: 1rem;
  width: 100%;
  box-shadow: inset 0px 8px 6px lightgray;
}
.checkout .details p{
  text-align: center;
  font-weight: 500;
  margin-top: 10px;
}
.like_product{
  position: absolute;
  right: 10px;
  top: 10px;
  width: 35px!important;
  padding: 5px;
  height: 35px!important;
  background: rgb(212, 17, 108);
  color: white;
  border-radius: 50%;
}

/* *****main checkout page styles */
.checkoutAddress{
  padding: 0 20px;
}
.heading{
  font-size: 1.1rem;
  font-weight: 500;
}
.shipping_address{
  transition: all 0.5s ease;
  position: relative;
  padding: 2em 3em;
  border-radius: 1.2rem;
  display: flex;
  align-items: flex-start;
}
.shipping_address > div{
  margin-left: 18px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.shipping_address > div svg{
  display: flex;
  align-self: flex-end;
}
.shipping_address p{
  margin: 0;
}
.shipping_address .address{
  color: rgb(110, 110, 110);
  width: 60%;
}
.shipping_address .place{
  font-size: 1.2rem;
  font-weight: 500;
}
.shipping_address.active{
  background: rgba(230, 230, 230, 0.63);
  box-shadow: 0 30px 15px rgb(202, 202, 202);
  box-shadow: -5px 10px 15px lightgray, 5px -10px 15px rgb(161, 161, 161);
}
.shipping_address .MuiSvgIcon-root:not(.editSvg){
  width: 1.3em!important;
  height: 1.3em!important;
}
.shipping_address .editSvg{
  position: absolute;
  bottom: 1.5em;
}
@media screen and (max-width:600px){
  .shipping_address{
    padding: 1em 1.5em;
  }
  .shipping_address .address{
    width: 85%;
  }
  .shipping_address .editSvg{
     bottom: 1em;
  }
}