header{
  background: var(--primary-color);
  color: white;
  padding: 3px 10px;
  box-shadow: 0px -3px 3px gray;
  position : sticky;
  top: 0;
  left: 0;
  z-index: 10;
  height: 80px;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}
header a{
  color: white;
}
header a:hover{
  color: lightblue;
}
.navbar-nav{
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px){
  header{
    height: 50px;
    overflow: hidden;
  }
}
.profile_avatar{
  background-size: cover;
  background-position: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid var(--primary-color-light);
}