.productAddForm {
  position: fixed;
  /* position: absolute; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  min-height: 350px;
  padding: 20px;
  z-index: 22;
  background: white;
  border-radius: 10px;
  overflow: hidden;
}
.productAddForm form {
  width: 80%;
  margin: auto;
}
div.formOverlay {
  background: rgba(0, 0, 0, 0.877);
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 21;
  position: fixed;
  transition: all 0.2s linear;
}
.productAddForm .back__to__store {
  position: absolute;
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 20px;
  right: 20px;
  outline: none;
  border: none;
  border-radius: 50%;
  padding: 5px;
  text-decoration: none;
  color: black;
  transition: all 0.2s;
}
.productAddForm .back__to__store:hover {
  background: gray;
  color: white;
}
.MuiLinearProgress-colorPrimary.MuiLinearProgress-root {
  position: absolute;
  width: 102%;
  height: 6px;
  top: 0;
  left: -1%;
}
.MuiLinearProgress-barColorPrimary {
  border-radius: 10rem;
}
textarea#product_change,
.MuiOutlinedInput-input {
  padding: 10px;
  width: 100%;
  border-radius: 4px;
}
textarea#product_changeg {
  padding: 7px;
}
textarea#product_change:focus {
  border: 2px solid #3f51b5;
}
@media screen and (max-width: 768px) {
  .productAddForm {
    width: 90vw;
  }
  .productAddForm form {
    width: 100%;
  }
}
.message_link {
  display: flex;
  padding: 5px 20px;
}
.message_link img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}
.message_link .message_text {
  display: flex;
  flex-direction: column;
}
.message_searchbar {
  margin: 10px 20px;
  background: rgba(77, 112, 228, 0.473);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.message_searchbar,
.message_searchbar input {
  border-radius: 10rem;
  color: white;
}
.message_searchbar .svg{
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.message_searchbar svg {
  width: 25px;
  height: 25px;
  color: white;
}
.message_searchbar input {
  margin-left: auto;
  width: 85%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  height: 100%;
  top: 0;
  left: 0;
  padding: 6px;
  padding-left: 0;
}
.message_searchbar input::placeholder{
  font-size: 16px;
  color: #efefef;
}