.notification{
  display: flex;
  padding: 0 1.2rem;
  margin-left: 40px;
}
.notification img{
  width: 50px;
  margin-right: 20px;
  height: 50px;
  border-radius: 50%;
}
@media screen and (max-width: 600px){
  .notification img{
    width: 35px;
    margin-right: 10px;
    height: 35px;
  }
  .notification{
    margin-left: 0;
  }
}