.post{
  border-radius: 10px;
  box-shadow: -2px 2px 5px gray;
  padding: 40px;
  background: rgba(230, 230, 230, 0.63);
}

.post__header{
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.post__header h4{
  font-size: 18px;
}
.posterImage{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 20px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}
.posterImage img{
  visibility: hidden;
}
.poster__details{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.poster__details *{
  margin: 0;
}
.postImage{
  position: relative;
}
.likeButtons{
  position: absolute;
  left: 20px;
  bottom: 10px;
  padding: 10px;
  border-radius: 20px;
  width: 90px;
  background: #742d04;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
}
.likeButtons p{
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  display: flex;
}
.likeButtons svg{
  display: inline-block;
  margin-right: 10px;
}
@media screen and (max-width: 768px){
  .post{
    padding: 20px;
    border-radius: 0;
    margin: 0!important;
    box-shadow: -2px -1px 3px grey;
  }
  .post__header{
    margin: 0;
  }
  hr{
    margin: 0.5rem;
  }
  .posterImage{
    width: 45px;
    height: 45px;
    margin-right: 10px;
  }
  .postContent{
    font-size: 15px;
  }
  .likeButtons{
    left: 0;
    bottom: 0;
    width: 70px;
    padding: 5px;
  }
}
.cart h4{
  text-transform: capitalize;
}