.post{
  box-shadow: 0px 2px 5px #afafaf7a;
  padding: 33px;
}
.postImage img{
  width: 100%;
}
.post__header{
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.post__header h4{
  font-size: 18px;
}
.posterImage{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 20px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}
.posterImage img{
  visibility: hidden;
}
.poster__details{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.poster__details *{
  margin: 0;
}

.likeButtons{
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
  cursor: pointer;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid var(--primary-color);
}
.likeButtons.liked{
  background: var(--primary-color);
  color: white;
}
.likeButtons p{
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  display: flex;
}
.likeButtons svg{
  display: inline-block;
  margin-right: 10px;
}
@media screen and (max-width: 768px){
  .post{
    padding: 20px;
    border-radius: 0;
    margin: 0!important;
    box-shadow: -2px -1px 3px grey;
  }
  .post__header{
    margin: 0;
  }
  hr{
    margin: 0.5rem;
  }
  .posterImage{
    width: 45px;
    height: 45px;
    margin-right: 10px;
  }
  .postContent{
    font-size: 15px;
  }
  .likeButtons{
    left: 0;
    bottom: 0;
    width: 70px;
    padding: 5px;
  }
}
.cart h4{
  text-transform: capitalize;
}