.profile__image{
  width: 150px;
  height: 150px;
  position: relative;
  border-radius: 50%;
  border: 3px #562001 solid;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
.profile__image img{
  border-radius: 50%;
  visibility: hidden;
}
.profile__details{
  display: flex;
  align-items: center;
  margin-top: 10px;
}
#loader{
  margin: auto;
  display: block;
}
.cover_picture{
  position: relative;
  display: block;
  background-position: center;
  width: 100%;
  height: 270px;
  border-radius: 1rem;
  background-size: cover;
}
.cover_picture img{
  display: contents;
}
.cover_picture svg.back{
  background: #575757;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  padding: 7px;
  margin: 0.7rem 0 0 0.7rem;
  position: relative;
  color: white;
}
.profile__change__svg, 
input#profileChange, 
.cover_picture svg:not(.back),
.cover_picture input {
  position: absolute;
  background:#562001;
  color: white;
  bottom: 10%;
  padding: 5px;
  width: 2rem!important;
  height: 2rem!important;
  border-radius: 50%;
  right: 20px;
}
input#profileChange, .cover_picture input{
  overflow: hidden;
  opacity: 0;
}
.cover_picture svg:not(.back), .cover_picture input{
  bottom:1rem;
  right: 1rem;
  width: 3rem!important;
  height: 3rem!important;
  padding: 8px;
}
.details{
  height: fit-content;
}
.details *{
  margin: 0;
}
@media screen and (max-width: 768px){
  .cover_picture{
    height: 30vh;
    border-radius: 0;
  }
.profile{
  background: rgba(230, 230, 230, 0.63);
}
  .profile__image{
    width: 70px;
    height: 70px;
    border-width: 2px;
  }
  .profile__change__svg, 
  input#profileChange{
    width: 1.1em!important;
    height: 1.1em!important;
    right: 7px;
  }
  .cover_picture svg:not(.back),
  .cover_picture input{
    height: 1.5em!important;
    width: 1.5em!important;
  }
  .details *{
    font-size: 1.1rem;
  }
  .profile__image{
    margin: 5px 10px
  }
  .bio{
    margin: 0;
    font-size: 1.1rem;
    font-style: italic;
  }
}