.sideBar{
  width: 15%;
  position: fixed;
  left: 0;
  top: 80px;
  height: calc(100vh - 80px);
  padding: 2em;
}

.sideBar__links{
  margin-bottom: 30px;
}
.sideBar__links.active{
  font-size: 25px;
  font-weight: bold;
}
.sideBar__links a{
  display: flex;
  align-items: center;
}
.sideBar__links svg{
  height: 1.2em;
  width: 1.2em;
  margin-right: 15px;
  transition: all 0.5s ease-in;
}
.sideBar__links.active svg{
  width: 1.4em;
  height: 1.4em;
}
.sideBar__links .products_length {
  align-items: center;
  background: #007bff;
  color: white;
  border-radius: 50%;
  font-size: 1rem;
  width: 20px;
  height: 20px;
  left: 55%;
  justify-content: center;
  display: inline-flex;
  position: absolute;
  top: -120%;
}
@media screen and (max-width: 768px){
 .sideBar{
   width: 100%;
   background: var(--dark);
   top: unset;
   bottom: 0;
   min-height: 40px;
   z-index: 20;
 }
 .sideBar svg, .text{
   color: white;
   transition: all 1s;
 }
 .links{
   margin-top: 10px;
   margin-bottom: 10px;
   flex-direction: row;
   height: 45px;
   width: 100%;
   justify-content: space-around;
 }
 .sideBar__links{
  padding: 0 10px;
  position: relative;
  height: 100%;
  width: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 .sideBar__links.active .top,
 .sideBar__links.active .bottom,
 .sideBar__links.active::before,
 .sideBar__links.active::after,
 .text{
  display: none
 }
 .sideBar__links.active svg{
   margin-top: -15px;
   color: var(--primary);
  }
  .sideBar__links.active .text{
    display: block;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    color: var(--primary);
    left: 0%;
    text-align: center;
    width: 100%;
    font-weight: lighter;
  }
  .sideBar__links a{
    display: flex;
  }
}
a{
  color: white;
}
span#message{
  color:rgb(221, 221, 221);
}