.sideBar{
  width: 25%;
  position: fixed;
  left: 0;
  top: 60px;
  min-height: 100vh;
  display: flex;
  align-items:center;
  justify-content: center;
}
.links{
  display: flex;
  height: 80vh;
  margin-top: 30px;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.sideBar a{
  color: white;
  font-weight: ligher;
  font-size: 1.3rem;
}
.sideBar a:hover{
  text-decoration: none;
}
.sideBar__links{
  position: relative;
}
.sideBar .top, .sideBar .bottom,
.sideBar__links.left::before,
.sideBar__links.right::after{
  transition: all 1s ease;
  opacity: 0;
}
.sideBar__links.active .top, .sideBar__links.active .bottom{
  position: absolute;
  width: 30px;
  height: 3px;
  opacity: 1;
  background: white;
}
.sideBar .top{
  top: -3px;
}
.sideBar .bottom{
  bottom: -3px;
}
.sideBar .right .top, .sideBar .right .bottom{
  right: -20px;
}
.sideBar .left .top, .sideBar .left .bottom{
  left: -20px;
}
.sideBar__links.active.right::after, 
.sideBar__links.active.left::before{
  content: '';
  opacity: 1;
  height: 100%;
  width: 3px;
  background: white;
  position: absolute;
  top: 0;
  bottom :0;
}
.sideBar__links.active a{
  font-size: 1.5rem;
}
.sideBar .right::after{
  right: -20px;
}
.sideBar .left::before{
  left: -20px;
}
.sideBar__links svg{
  height: 1.8rem;
  width: 1.8rem;
  transition: all 0.5s ease-in;
}
.sideBar__links .products_length {
  align-items: center;
  background: #007bff;
  color: white;
  border-radius: 50%;
  font-size: 1rem;
  width: 20px;
  height: 20px;
  left: 55%;
  justify-content: center;
  display: inline-flex;
  position: absolute;
  top: -120%;
}
.sideBar__links.active .products_length{
  font-weight:normal;
}
@media screen and (max-width: 768px){
 .sideBar{
   width: 100%;
   background: var(--dark);
   top: unset;
   bottom: 0;
   min-height: 40px;
   z-index: 20;
 }
 .sideBar svg, .text{
   color: white;
   transition: all 1s;
 }
 .links{
   margin-top: 2px;
   margin-bottom: 2px;
   flex-direction: row;
   height: 45px;
   width: 100%;
   justify-content: space-around;
 }
 .sideBar__links{
  padding: 0 10px;
  position: relative;
  height: 100%;
  width: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 .sideBar__links.active .top,
 .sideBar__links.active .bottom,
 .sideBar__links.active::before,
 .sideBar__links.active::after,
 .text{
  display: none
 }
 .sideBar__links.active svg{
   margin-top: -15px;
   color: var(--primary);
  }
  .sideBar__links.active .text{
    display: block;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    color: var(--primary);
    left: 0%;
    text-align: center;
    width: 100%;
    font-weight: lighter;
  }
  .sideBar__links a{
    display: flex;
  }
}
a{
  color: white;
  font-weight: 600;
}
span#message{
  color:rgb(221, 221, 221);
}