*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container:not(.header){
  width: 50%!important;
}
@media screen and (max-width: 768px){
  .container:not(.header){
    width: 97%!important;
  }
}
button:focus{
  outline: none!important;
}
.searchbar{
  position: fixed;
  right: 0;
  width: 25%;
  padding: 15px;
  overflow: scroll;
  max-height: 100vh;
  display: none;
}
.lead{
  font-size: 1.1rem;
}