*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container:not(.header){
  width: 50%!important;
}
button:focus{
  outline: none!important;
}
.searchbar{
  position: fixed;
  right: 0;
  width: 25%;
  padding: 15px;
  overflow: scroll;
  min-height: 100vh;
}
.lead{
  font-size: 1.1rem;
}