:root{
  --primary-color: #42b685;
  --primary-color-dark: #289266;
  --primary-color-light: #e1fcf2;
}
.color-primary{
  color: var(--primary-color);
}
.background-primary{
  background-color: var(--primary-color);
}
a:not(header a){
  color: var(--primary-color)!important;
}
body {
  background-color: #42b68515!important;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body *{
font-family: 'Montserrat', sans-serif!important;
}
.MuiButton-containedPrimary{
  color: #efefef!important;
  border-radius: 10rem!important;
}
.MuiButton-containedPrimary:not(.MuiButton-containedSizeSmall){
  padding: 12px!important;
  font-size: 18px!important;
}
.MuiButton-containedSizeSmall{
  box-shadow: none!important;
  padding: 9px 18px!important;
}
.MuiButton-containedPrimary:hover{
  background: var(--primary-color-dark)!important;
}
