@font-face{
  src: 'fonts/Poppins-Regular.ttf';
  font-family: 'Poppins';
}
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--dark)!important;
  color: var(--white)!important;
  
}
#root{
  background: url('bg-hero-desktop.svg') fixed;
  min-height: 100vh;
}
@media screen and (max-width: 768px){
  #root{
    background-position: right;
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.btn:hover{
  opacity: 0.8;
}
.btn:focus{
  box-shadow: none!important;
}
