body {
  margin: 0;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root{
  background: url('bg-hero-desktop.svg') fixed;
  min-height: 100vh;
}
@media screen and (max-width: 768px){
  #root{
    background-position: right;
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.btn:hover{
  opacity: 0.8;
}
.btn:focus{
  box-shadow: none!important;
}
